%p#notice= notice

.clearfix
  %br
  %p 
.center-block
  .panel.panel-success
    .panel-heading
      %h2#standingsPanelTitle.panel-title= "NFL Standings"
    #teamStandings.panel-body.container.row
      = render 'standings', locals: {teams: @teams}
  %br
  = link_to "Update Standings", update_standings_teams_path(order: :update_nfl), remote: true, class: "col-md-1 col-md-offset-1 btn btn-primary btn-sm standingsBtn"
